@using Square.Models

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Appointment details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Appointment == null)
                {
                    <h3>Loading..</h3>
                }
                else
                {
                    // TODO: show 
                    @Appointment.CustomerNote
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

@code {
    [Parameter]
    public Booking Appointment { get; set; }
}
