.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background: rgb(255,189,103);
    background: linear-gradient(0deg, rgba(255,189,103,1) 0%, rgba(253,249,178,1) 7%, rgba(209,236,133,1) 20%, rgba(170,218,118,1) 31%, rgba(47,137,85,1) 100%);
}

a, btn-linka {
    color: white;
    
}
.auth > a:hover {
    color: white;
}

article {
    margin-top: 20px;
}

.top-row {
    background-image: linear-gradient(180deg, #1C5233 0%, #2F8955 70%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
